body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .deck-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  .card {
    background: #fff;
    border: 0px solid #999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    /* line-height: 34px; */
    /* height: 34px; */
    margin-right: 1px;
    margin-top: 1px;
    padding: 0;
    text-align: center;
    width: 1.7vw;
    /* width: auto; */
  }
  
  .card:focus {
    outline: none;
  }
  
  .deck {
    margin-bottom: 300px;
    margin-left: 0px;

    width: 100%;
    /* overflow: hidden; */

    /* list-style-type:none; */
  }

  .deck-container {
    display: block;
    position: center;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    /* padding: 17px; */
    overflow: auto;
  }

  .controls {
    position: sticky;
    top: 5px;
    width: 100%;
    margin: auto;
    padding: 0%;
    z-index: 1;
  }

  .shuffleButton {
    position: sticky;
    margin:auto;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: grid;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  