body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: white;

    white-space: nowrap;
    overflow-x: scroll;
  }

  div {
    display: block;
  }
  
  ol, ul {
    padding-left: 30px;
    display: block;
  }
  
  .deck-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: inherit;
  }

  .card {
    background: inherit;
    border: 0px solid #999;
    float: left;
    font-size: 14px;
    font-weight: bold;

    margin-right: 1px;
    margin-top: 1px;
    padding: 0;
    text-align: center;
    width: 1.5rem;
    display: inline-block;

  }
  
  .deck {
    margin-bottom: 25rem;
    margin-left: 0px;

    width: 100%;
    position: relative;
  }

  .deck-container {
    display: block;
    position: center;
    margin: auto;
    margin-top: 10px;
    /* margin-bottom: -250px; */
    width: 100%;
  }

  .controls {
    background-color: white;
    margin-top: 0;
    position: sticky;
    top: 0px;

    width: 100%;

    padding: 10px;
    z-index: 1;
  }

  .shuffleButton {
    position: sticky;
    margin-right: 10px;
    padding: auto;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: grid;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }


  .card-view {
    background: inherit;
    border: 0px solid #999;
    font-size: 14px;
    font-weight: bold;
    margin-right: 1px;
    margin-top: 1px;
    padding: 0;
    text-align: center;
    width: 4.5vw;
    display: block;

  }

  .deck-view {
    margin-top: 10rem;
    margin-bottom: 10rem;
    height: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;

    z-index: 1;
    position: sticky;
    bottom: 5px;
    background-color: inherit;
  }

  .inner {
    display: inline-block;
    /* overflow-x: scroll; */
  }

  .lines {
    position: absolute;
  }

  /* .card:hover {
    background-color: green;
  }

  .card:focus {
    background-color: red;
  } */